assets/simple_injector/Release/
assets/simple_injector/.vs/

assets/safedisc/dll_game/.vs/
/assets/safedisc/dll_game/dll_game/Release
/assets/safedisc/dll_worker/Release
/assets/safedisc/dll_worker/.vs
/assets/safedisc/dll_game/Release
