_site/
.vscode/
assets/simple_injector/Release/
assets/simple_injector/.vs/

assets/safedisc/dll_game/.vs/
/assets/safedisc/dll_game/dll_game/Release
/assets/safedisc/dll_worker/Release
/assets/safedisc/dll_worker/.vs
/assets/safedisc/dll_game/Release
assets/zoo_tycoon_2/dll_game/.vs/
assets/zoo_tycoon_2/dll_worker/.vs/
/assets/dll_game
/assets/dll_worker
/assets/stronghold_crusader/dll_game/.vs
/assets/stronghold_crusader/dll_game/dll_game/Release
/assets/stronghold_crusader/dll_game/Release
/assets/stronghold_crusader/dll_worker/.vs
/assets/stronghold_crusader/dll_worker/Release
/assets/harry_potter_2/dll_worker/.vs
/assets/harry_potter_2/dll_worker/Release
/assets/hp
